<script setup lang="ts">
import UserDialog from "./UserDialog.vue";
import UserList from "./UserList.vue";
import UserCardList from "./UserCardList.vue";
import { mdiTable, mdiCardOutline } from "@mdi/js";
import { useCounterStore } from "@/stores/user";
const userStore = useCounterStore();
</script>
<template>
  <v-container>
    <v-row>
      <UserList v-if="userStore.isTable"></UserList>
      <UserCardList v-if="!userStore.isTable"></UserCardList>
      <UserDialog></UserDialog>
    </v-row>
  </v-container>
  <v-row class="justify-center">
    <v-btn :icon="mdiTable" flat @click="userStore.isTable = true"></v-btn>
    <v-btn
      :icon="mdiCardOutline"
      flat
      @click="userStore.isTable = false"
    ></v-btn>
  </v-row>
</template>

<style scoped></style>
